@charset "UTF-8";
body {
padding-top: 60px;
padding-bottom: 40px;
}

.navbar{
background-color: #B50080;
}
.navbar-inner {
background-image: #b50080;
background-image: -moz-linear-gradient(top,#b50080,#b50080);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#b50080),to(#b50080));
background-image: -webkit-linear-gradient(top,#b50080,#b50080);
background-image: linear-gradient(to bottom,#b50080,#b50080);
border: 1px solid #b50080;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b50080', endColorstr='#b50080', GradientType=0);
/* IE6 & IE7 */
filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b50080', endColorstr='#b50080');
/* IE8 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b50080', endColorstr='#b50080')";
}

h1, h2, h3, h4, h5, h6, a, a:hover, a:focus {
color: #b50080;
}
.btn-primary {
background-color: #b50080;
background-image: -moz-linear-gradient(top,#b50080,#b50080);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#b50080),to(#b50080));
background-image: -webkit-linear-gradient(top,#b50080,#b50080);
background-image: linear-gradient(to bottom,#b50080,#b50080);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b50080', endColorstr='#b50080', GradientType=0);
}
.alert-info {
background-color: #DDD;
border-color: #DDD;
color: black;

}
.navbar .nav>li>a:hover  {
background-color: #b50080;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
background-color: #b50080;

}

div.user-stage p {
text-align: center;
}
div.user-stage div {
text-align: center;
}
.clear {
clear:both;　/* floatの解除 */
}
h3, h4, h5, h6 {
color: rgb(0, 0, 0); /* 文字を黒に */
}
.alert-danger, .alert-error {
color: #033;
}

.cb{
	clear: both;
}

li,lo{
	list-style: none;
}


/*** アカウント情報 ***/
.edit .control-group {
margin-bottom: 0px;
}
/*** 端末情報 ***/
/* テーブルの左端の背景色 */
.terminal td:first-child {
background-color: #eee;
}
/* 入力フォームの左詰めに */
.terminal.form-horizontal .controls {
margin-left: 0;
}
/* 入力フォームの下のマージンをゼロに */
.terminal .control-group {
margin-bottom: 0px;
}
/*** ヒアリングシート ***/
/* 入力フォームのラベルを左詰めに */
.hearing .form-horizontal .control-label {
float: left;
width: 160px;
padding-top: 5px;
text-align: left;
}
/* 入力フォームのテーブルの中はラベルを右詰め */
.hearing .form-horizontal table .control-label {
text-align: right;
}
.hearing button.pull-right {
margin-right: 30px;
}
.hearing .span10 {
float: none;
min-height: 1px;
margin-left: 0;
}
/* チェックボックスの右寄せをゼロにする */
.hearing table.communication .controls {
margin-left: 0px;
}
/* チェックボックスのラベルの幅をゼロにする */
.hearing table.communication .control-label {
float: left;
width: 0px;
padding-top: 5px;
text-align: left;
}
/* 入力フォームのセレクターを左詰めに */
.hearing table select {
margin-left: 0px;
}

/*** 店名表示 ***/
/* 入力フォームのラベルを左詰めに */
.signboard .form-horizontal .control-label {
float: left;
width: 160px;
padding-top: 5px;
text-align: left;
}
/* チェックボックスの右寄せをゼロにする */
.signboard table .controls {
margin-left: 0px;
}
/* チェックボックスのラベルの幅をゼロにする */
.signboard table.category .control-label {
float: left;
width: 0px;
padding-top: 5px;
text-align: left;
}
/* 入力フォームの下のマージンをゼロに */
.signboard .control-group {
margin-bottom: 0px;
}
.signboard div.caution .control-group {
margin-bottom: 0px;
}
/* 入力フォームの下のマージンをゼロに */
.signboard table .control-group {
margin-bottom: 0px;
}
.signboard table.table-bordered > tbody > tr > td:first-child {
background-color: #eee;
width: 160px;
}
.signboard .category th {
background-color: #eee;
}
.signboard .category td {
background-color: #fff;
}

/*** 担当者 ***/
/* 入力フォームの下のマージンをゼロに */
.section table .control-group {
margin-bottom: 0px;
}
/* 入力フォームの下のマージンをゼロに */
.register .control-group {
margin-bottom: 0px;
}
/*** ユーザーリスト ***/
table.admin_list tr.admin td,
table.mailing_list tr.admin td {
	background-color: #fff8a8; /* 管理者の欄の背景 */
}
table.admin_list tr.partner td,
table.mailing_list tr.partner td {
	background-color: #c8ffc0; /* 協力会社の欄の背景 */
}

/* 追加フォーム */
.myform .control-group {
margin-bottom: 0px;
}
.myform table .control-group {
margin-bottom: 0px;
}


/* 
*
* テーブル
*
*/
table .gray {
background-color: #eee;
}
.section td:first-child {
background-color: #eee;
width: 160px;
}
.section .nav-tabs > li > a {
color: #666;
background-color: #eee;
}
.section .nav-tabs > .active > a {
color: rgb(181, 0, 128);
background-color: #fff;
}
.section .nav-tabs > .active > a:hover {
color: rgb(181, 0, 128);
}

.top_double th,.top_double td{
	border-top: 4px double #DDDDDD;
}

.table th,.table td{
	padding: 10px;
}

.th30par th{
	width: 15%;
}

/* 
*
* テーブル kono
*
*/
.contentBoxWrap table{
	width: 100%;
}

.contentBoxWrap table th,.contentBoxWrap table td{
	padding: 8px;
	border: 3px solid #FFFFFF;
}
.contentBoxWrap table th{
	background-color: #ffecff;
	color: #666;
}
.contentBoxWrap table td{
	background-color: #f6f6f6;
}

.contentBoxWrap table .ti th,.contentBoxWrap thead th{
	background-color: #666;
	text-align: left;
	padding: 15px;
	color: #FFFFFF;
}
.contentBoxWrap table .example_text th,.contentBoxWrap table .example_text td{
	background-color: #d1d1d1;
	color: #575757;
	
}
/* 
*
* 共通
*
*/
.contentBox{
	clear: both;
	margin-bottom: 40px;
	border-bottom: 1px solid #DDDDDD;
	overflow: hidden;
	padding-bottom: 30px;
}
ul.form_label li{
	line-height: 35px;
}

.description{
	padding: 20px;
	color: #e86161;
}


.contentBoxWrap h3{
	border-left: 15px solid #B50080;
	border-bottom: 1px dotted #B50080;
	font-size: 18px;
	padding-left: 15px;
}

.description_ex{
	border: 1px solid #EEE;
	padding: 20px;
	margin: 10px 0 20px 0;
}
/* 
*
* フォーム
*
*/
.send_button{
	margin: 15px 0 25px 0;
}

