<textarea class="span12" rows="18">
第一条　 会員の定義

イオンモール・コミュニケーションサイト会員規約
本規約はイオンモール株式会社（以下「当社」といいます）が運営・提供する『コミュニケーションサイト』(以下「当サービス」といいます)の利用に関し定めたものです。
コミュニケーションサイト会員（以下「CMM会員」といいます）が利用する際、会員は本規約を遵守するものとします。
CMM会員規約の変更
本規約は、予告なく変更することがあります。
変更後の規約は、当社がCMM会員に対し通知した時点から適用されます。必ず最新情報をご確認ください。
CMM会員
CMM会員とは、CMM会員規約に同意したうえで当社が指定する入会申し込み手続きを取り、それに対し当社がサービスの利用を承諾した方とします。
第二条　サービスの利用に関して

CMM会員パスワード
当サービスを利用する際必要なパスワードとはCMM会員が任意で登録したものです。
CMM会員はパスワードを自己の責任のもと管理するものとします。
パスワードを第三者が使用したことによりCMM会員が損害を被った場合、CMM会員の過失の有無にかかわらず、当社は一切の責任を負わないものとします。
また、パスワードに関するお問い合せ（確認、紛失等）は、いかなる場合も応じかねます。
サービス利用に際しての費用
当サービスへの入会、コンテンツの閲覧、サービスの利用は無料とします。
ただし、コンテンツへのアクセス、データ送信時に発生する通信費、パケット料はCMM会員が負担するものとします。
第三条　個人情報の取り扱い、情報の変更、退会について

個人情報の取り扱いについて
個人情報保護管理責任者
イオンモール株式会社　管理本部長（TEL：043−212−6463）
利用目的
ショップ情報収集等に利用するため。
個人情報の提供
当社では取得した個人情報（お客様情報）を利用目的の範囲内において、以下の要領で第三者に提供する場合がございます。この場合当社は会員情報の保全措置を講じた上で提供いたします。それ以外について必要があれば、その都度同意を取得します。
個人情報の委託
当社は事業運営上、お客さまにより良いサービスを提供するために業務の一部を外部に委託しています。この場合、個人情報を適切に取り扱っていると認められ る委託先を選定し、契約等において個人情報の適正管理・機密保持などによりお客さまの個人情報の漏洩防止に必要な事項を取り決め、適切な管理を実施させま す。
個人情報を提供されることの任意性について
お客様が当社に個人情報を提供されるかどうかは、お客様の任意によるものですが、必要な項目を頂けない場合、各サービス等が適切な状態で提供できない場合があります。
個人情報の開示・更新等
当社は、当社がお客様からお預かりしている個人情報について、お客さまご本人から開示・訂正・削除のお申し出があった場合、合理的な範囲で開示・訂正・削 除を致します。ただし、他のお客さまの生命・身体・財産その他の利益を害するおそれのある場合、または当社の業務遂行に著しく支障をきたすと判断した場合 は、この限りではありません。
また、法令等に定めのある場合は、当該法令に基づいて適切な対応を致します。
Cookie（クッキー）及びSSLの利用について
Cookie（クッキー）は、お客さまが当社のサイトに再度訪問された際、より便利に当サイトを閲覧していただくためのものであり、お客さま個人を特定す ることはございません。またお客さまはクッキーの制限をすることができます。その場合、一部サービスがご利用になれないことがございます。
また、当社のサイトでは個人情報を入力していただく部分にはすべてSSL（Secure　Sockets　Layer）のデータ暗号化システムを利用して おります。さらに、サイト内における情報の保護にもファイアウォールを設置するなどの方策を採っております。ただし、インターネット通信の性格上、セキュ リティを完全に保証するものではありません。あらかじめご了承ください。
認定個人情報保護団体について
認定個人情報保護団体とは、個人情報保護法第37条に基づき主務大臣の認定を受けた団体で、対象個人情報の取扱いに関する苦情処理、対象事業者への情報提供を通じ個人情報の適正な取扱いの確保を目的とする団体です。

当社が加入する認定個人情報保護団体：財団法人日本情報処理開発協会 
苦情の解決の申し出先：プライバシーマーク推進センター個人情報保護苦情相談室
〒105‐0011　東京都港区芝公園3-5-8　機械振興会館
電話番号：03-5776-1379
フリーダイヤル：0120-700-779
個人情報保護に関するお問い合わせ窓口
各ショッピングモールまでお問い合わせ願います。
個人情報保護方針についてはhttp://www.aeonmall.com/privacy.htmlをご参照ください。
登録情報の変更
当サービス入会申し込みの際登録した情報に変更があった場合、当社所定の方法で速やかに変更手続きを行なってください。登録情報に変更があるにもかかわら ず変更手続きを行なわないことにより、CMM会員が不利益を被った場合でも当社は一切の責任を持ちません。
CMM会員資格の停止・退会について
CMM会員が本規約に違反し、当社がCMM会員として不適格であると判断したとき、CMM会員の資格を停止します。
当社はCMM会員の資格を停止した理由を説明する義務は負わないものとします。
CMM会員は、所定の手続きに従って特に制限されることなく自由に退会することができます。退会後、本サービスにて提供するCMM会員特典等は利用できなくなり、CMM会員としての一切の権利を失うものとします。
第四条　権利・禁止行為

著作権・商標について
当サービスの企画、コンテンツ、情報、画像、ロゴマーク、商標等について、その著作権・使用権は、個別に特段の明示がない限り当社及び当社にその使用を許 可した権利保有者に帰属します。当社及び権利者に事前の許可を得ることなく使用することを一切認めておりません。印刷物や他媒体物への転用、複製、販売、 また、これを変形、改ざんした上で使用することはできません。
第五条　免責

免責
当社は当サービスのコンテンツや、関連して運営するサービスを事前の予告なしに変更、追加、中断(システム、サーバメンテナンス時を含む)、中止、削除す ることがあります。当社は理由の如何にかかわらず、当サービスのコンテンツの変更および中断、中止等によりCMM会員に生じるいかなる損害についても責任 を負うものではありません。

当サービスで提供するコンテンツや情報等が最新かつ正確になるよう細心の注意を払っておりますが、その信用性、正確性、妥当性等について保証するものでは ありません。当社がコミュニケーションサイトで提供する情報等によりCMM会員もしくは第三者が損害を被った場合でも、当社は一切の責任を負いかねます。
</textarea>

<p>個人情報の保護については、<a href="http://www.aeonmall.com/privacy.html" target="_blank">こちら</a></p>
<br />

<div class ="hero-unit pull-center">
  <p>上記会員規約の内容にご承諾して頂けるお客さまは「同意する」にチェックした上で、「次へ」ボタンをクリックしてください。</p>
  <br />
  <?php echo $this->BootstrapForm->create('User', array('url' => '/users/agreement2/'.$id)); ?>
    <label class="checkbox">
      <?php echo $this->BootstrapForm->input('id', array('type' =>'hidden')); ?>
      <?php echo $this->BootstrapForm->input('agree', array('type'=>'checkbox','label' =>'<strong>同意する</strong>')); ?>
    </label>
    <br />
    <?php echo $this->BootstrapForm->button('ログイン',array('class' => 'btn btn-primary'));?>
    <?php echo $this->BootstrapForm->end();?>
  </form>
  <br />
</div>
