<div class ="hero-unit">
  <h2><?php echo $title_for_layout; ?></h2>
  <p></p>
</div>

<script src="<?php echo $this->Html->url('/') ?>js/jquery.upload-1.0.2.js"></script>
<script type="text/javascript">
                $.ajax( {
                    url: '<?php echo SITE_URL; ?>aaa.html',
                    dataType : 'html',
                    success: function( data ) {
                        $( '#sample-text' ).html( data );
                        $( '#sample-result' ).html( '<hr/><font color="blue">読み込みOK(IE,FireFox,SafariはOK)</font><hr/>' );
                    },
                    error: function( data ) {
                        $( '#sample-result' ).html( '<font color="red">読み込みNG(ChromeではNG)</font>' );
                    }
                } );
</script>
<p id="sample-text">a</p>

<body onLoad="loadTextFile()">
  <?php if( SUB_DOMAIN == 'toin'): ?>
    <p id="csv_path"><?php echo SITE_URL; ?>import/toin_terminal_and_reg_131022.csv</p>
  <?php endif; ?>
    <div>CSV内容表示</div>
    <div id="result">
      <table border=1></table>
    </div>
    <noscript>
        <p>JavaScriptがオフになっています。オンにして実行してください。</p>
    </noscript>
    <form action="<?php echo SITE_URL; ?>users/ImportUserProfile" class="import form-horizontal span10" id="UserImportForm" method="post" accept-charset="utf-8">

      <button class="btn btn-primary" type="submit">登録</button>
      <div id="import_form"></div>
      <button class="btn btn-primary" type="submit">登録</button>
    </form>
</body>

<script src="<?php echo $this->Html->url('/') ?>js/jquery.csv.js"></script>
<script src="<?php echo $this->Html->url('/') ?>js/read_user_profile_csv.js"></script>
<script type="text/javascript">
</script>
