<?php
if( strpos( dirname(__FILE__), 'com.aeonmall.com/makuharishintoshin') !== false) {
	echo dirname(__FILE__) . '<br />';
	echo '幕張新都心';
}else if( strpos( dirname(__FILE__), 'com.aeonmall.com/toin') !== false) {
	echo dirname(__FILE__) . '<br />';
	echo '東員';
}else if( strpos( dirname(__FILE__), 'com.aeonmall.com/wakayama') !== false) {
	echo dirname(__FILE__) . '<br />';
	echo '和歌山';
}else if( strpos( dirname(__FILE__), 'com.aeonmall.com/testsite') !== false) {
	echo dirname(__FILE__) . '<br />';
	echo 'テストサイト';
}else if( strpos( dirname(__FILE__), 'html/aeon-console') !== false) {
	echo dirname(__FILE__) . '<br />';
	echo 'NewPopperテストサイト';
}else if( strpos( dirname(__FILE__), 'develop/aeon-console') !== false) {
	echo dirname(__FILE__) . '<br />';
	echo 'ローカルテストサイト';
} else {
	echo dirname(__FILE__) . '<br />';
	echo '不明';
}
