<div class="hero-unit">
  <div>
    <img src="<?php echo $this->Html->url('/img/step4.jpg') ?>" />
  </div>
  <br />
  <h2>4.登録完了</h2>
  <br />
  <h3 class="">ユーザー登録ありがとうございました。</h3>
  <br />
  <p>登録情報の確認作業の終了後にログイン可能となります。登録情報の確認が完了しログイン可能になりましたら、ご登録いただきましたメールアドレスにログインIDとともにご連絡を差し上げますので、お待ちください。</p>


</div>
<?php // echo $this->Html->link('更新へ戻る','register',array('class'=>'btn btn-primary'));?>
